

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }


    li {
    list-style: none;
    }
    
    
    /*header*/


     /*nav*/

     .nav {
        display: flex;
        align-items: center;
        margin-left: 215px;
        margin-right: 215px;
        width: 1200px;
      } 
  
     .logo {
        padding-top: 24px;
        padding-bottom: 25px;
        text-decoration: none;
      }
  
     .site-nav {
      display: flex;
      align-items: center;
      margin-left: 93px;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
     }
  
      .site-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
     }
  
     .site-nav .link.current {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 32px;
      margin-bottom: 32px;
     }
  
     .site-nav .item + .item {
      margin-left: 50px;
     }
  
     .auth-nav {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: auto;
      padding-left: 0;
     }
  
     .auth-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
     }
  
     .auth-nav .item + .item {
      margin-left: 50px;
     }
  

   .nav-web {
    color: var(--accent-color);
    }
    
    .nav-studio {
    color: var(--studio-text-color);
    }    
    
    .nav-web, .nav-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    }
    
    .nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    }

    .nav .link:hover, .nav .link:focus {
    color: var(--accent-color);
    }

    .site-nav .link.current {
        color:var(--accent-color)
    }

    .site-nav .link.current:hover,
    .site-nav .link.current:focus
    {color:var(--primary-background-color);
    background-color:var(--accent-color);}

    .link.mail, .link.tel {
    color: var(--contact-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    }
    
    .auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--accent-color);
    }

    .nav {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--portfolio-border-color);
    }
 /*main*/

.container {
    width: 1700px;
}

.visually-hidden {position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow:hidden}

.filter-items {
    display: flex;
    width: 611px;
    margin: 0;
    padding: 0;
    margin-left: 495px;
    margin-top: 94px;
    margin-bottom: 34px;   
}

.filter-items .item + .item {
    margin-left: 8px;
}

.button.one {
    width: 73px;
    color: var(--primary-text-color);
    }

.button.two {
    width: 128px;
}

.button.three {
    width: 145px;
}

.button.four {
    width: 103px;
}

.button.fife {
    width: 130px;
}

.button {
    background-color: var(--section-background-color);
    cursor: pointer;
    border: none;
    font-style: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;     
    }


.button:hover, .button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    }

.button.one:hover, .button.one:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    }

   /*projects*/

   .project-items {
    width: 1200px;
    margin-left: 215px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    
    margin-bottom: 94px;
    }

    .project-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
    
       } 
    
    .project-item:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }

    .project-item:nth-child(3n) {
        margin-right: 0px;
    }

    
    .project-item .link {
    text-decoration: none;
    }

    .card-text {
    color: var(--contact-text-color);
    font-size: 16px;
    line-height: 1.87;
    }

    .card-title {
    font-style: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    }

/*footer*/
    .site-basement {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 215px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);    
    }

    .site-basement .logo {
      display: inline-block;
      padding-top: 60px;
      padding-bottom: 20px;
    }

  .site-basement .link {
    display: inline-block;
    }

    .site-basement .item {
      margin-bottom: 9px;
    }

    .site-basement .studio,
    .site-basement .link,
    .site-basement .address {
    color: var(--secondary-text-color);
    }

    .web {
    color: var(--accent-color);
    }

    .web, .studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    }

    .site-basement .mail, .site-basement .tel {
    text-decoration: none;
    }

    .site-basement .link {
    font-size: 14px;
    line-height: 1.7;
    }

    .site-basement .mail,
    .site-basement .tel {
    color:rgba(255, 255, 255, 0.6)
    }

    .site-basement .link:hover,
    .site-basement .link:focus {
    color: var(--accent-color);
    }

    .address {
    font-style: normal;
    }
